body{
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
}

.fa-solid{
 float: right;
 margin-right: 1rem;
 margin-top: 0.5rem;
}

.logo{
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.8rem;
}
.brandImage{
  padding: 1rem;
}
.mainImage{
  width:100%;
  margin-top: 1rem;
}
.main{
  text-align: center;
  line-height: 1;
}
.companyServices{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
  line-height: 1.5;
}
.learn{
  width: 30%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid;
  background: hsl(0, 0%, 8%);
  color: white;
}
.clientLogos img{
 display: inline-block;
 width: 18%;
 margin-left: 10px;
 margin-right: 10px;
}

.clientLogos{
  display: fles;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.sidepanel{
   height: 800px;
   width: 0%;
   background: white;
   position: fixed;
   top: 0;
   right: 0;
   padding-top: 3rem;
   z-index: 1;
   color: hsl(0, 0%, 41%);
   transition: 0.5s;
   overflow: visible;
}
a{
  text-decoration: none;
  color: hsl(0, 0%, 41%);
  transition: 0.3s;
}
.menus{
  padding: 0.7rem 0.3rem 0.7rem 0.7rem;
}
.openbtn{
  cursor: pointer;
}
.closebtn{
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
  cursor: pointer;
}
.loginAndRegister{
  text-align: center;
}
.register{
 width: 80%;
 padding: 0.5rem;
 border-radius: 10px;
 border: 1px solid hsl(0, 0%, 41%);
 background-color: white;
 color: hsl(0, 0%, 41%);
}

.arrow{
   border: 0px;
   background-color: white;
   margin-left: 0.6rem;
   cursor: pointer;
}
.featureLogos{
  margin-left: 2rem;
  margin-right: 1rem;
  display: inline-block;
}
.featureList{
 display: inline-block;
 margin-bottom: 1rem;
}
.feature{
  height: 2.5rem;
}
.companyFeatures{
  display: none;
}
.aboutCompany{
  margin-left: 3rem;
}
.companyInfo{
  display: none;
}
